---
import Layout from '@layouts/LayoutAstro.astro'
import { getCollection } from 'astro:content';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const board = await getCollection('board');

function filterExec(member) {
    return member.data.group === "exec";
}
function filterAtLarge(member) {
    return member.data.group === "at-large";
}
function filterStaff(member) {
    return member.data.group === "staff";
}

const exec = Object.values(board).filter(filterExec); 
const atLarge = Object.values(board).filter(filterAtLarge); 
const staff = Object.values(board).filter(filterStaff); 

const images = import.meta.glob<{ default: ImageMetadata }>('../../assets/board/*.{jpeg,jpg,png,gif}');
---

<Layout title="Eliot|Board">
    <h1>Board & Staff</h1>
    <h2>Executive Committee</h2>
    <article>
        {exec.map((member) => {
            const imgPath = "../../assets/board/" + member.data.photo;
            return (
                <p>{member.data.name}, {member.data.position}</p>
                <Image src={images[imgPath]()} alt={member.data.name} width="150"/>
            )
        })}
    </article>

    <h2>Board Members At-Large</h2>
    <article>
        {atLarge.map((member) => {
            const imgPath = "../../assets/board/" + member.data.photo;
            return (
                <p>{member.data.name}</p>
                <Image src={images[imgPath]()} alt={member.data.name}  width="150"/>
            )
        })}
    </article>

    <h2>Staff</h2>
    <article>
        {staff.map((member) => {
            const imgPath = "../../assets/board/" + member.data.photo;
            return (
                <p>{member.data.name}, {member.data.position}</p>
                <Image src={images[imgPath]()} alt={member.data.name}  width="150"/>
            )
        })}
    </article>

</Layout>