---
import Layout from '@layouts/LayoutBase.astro';
import Doc from '@components/Doc.astro';

import { getCollection } from 'astro:content';
const jobs = await getCollection('jobDocs');
const groups = await getCollection('jobGroups');
const policies = await getCollection('policyDocs');

function getPolicy(id: string) {
    return policies.find((element: any) => element.id === id);
}
const codeOfEthics = getPolicy('code-of-ethics');

---

<Layout title="Eliot|Camp Jobs">
    <h1>Camp Jobs</h1>
    <article>
        <h2>For All Camp Staff</h2>
        <ul>
            <li>
                <Doc doc={codeOfEthics} />
            </li>
        </ul>
    </article>

    {groups.map((grp: { id: string; data: {id: string, name: string} }) => {
        const groupHasPolicies = policies.find((p) => {return grp.id === p.data.group}) !== undefined;
        const heading = groupHasPolicies ? '<h3>Policies</h3>' : undefined;
        return (
            <article>
                <h2>{grp.data.name}</h2>
                <ul>
                    {jobs.map((job) => {
                        if (grp.id === job.data.group) {
                            return (
                                <li>
                                    <Doc doc={job} />
                                </li>
                            )
                        }}
                    )}
                </ul>
                <Fragment set:html={heading}/>
                <ul>
                    {policies.map((policy) => {
                        if (grp.id === policy.data.group) {
                            return (
                                <li>
                                    <Doc doc={policy} />
                                </li>
                            )
                        }}
                    )}
                </ul>
            </article>
    )})}
</Layout2>

