---
import Layout from '../layouts/LayoutAstro.astro'

interface Camp {
    frontmatter: {
        id: string,
        name: string,
        presenter: string,
        theme: string,
        start: Date,
        end: Date
    },
    url: string,
    file: string,
};

function compare( a: Camp, b: Camp ) {
    const aEnd = new Date(a.frontmatter.end);
    const bEnd = new Date(b.frontmatter.end);
    if ( aEnd < bEnd ){
        return -1;
    }
    if ( aEnd > bEnd ){
        return 1;
    }
    return 0;
}

const matches = import.meta.glob('/src/pages/camps/*.mdx', { eager: true });
const camps = Object.values(matches).sort(compare); 
const today = new Date();
---

<Layout title="Past Camps">
    <h1>Past Camps</h1>

    {camps.map((camp: Camp) => {
        const end = new Date(camp.frontmatter.end);
        if (end < today) {
            const startDate = new Date(camp.frontmatter.start).toDateString();
            const endDate = end.toDateString();;
            return (
                <h2><a href={`${camp.url}`}>{camp.frontmatter.name}</a></h2>
                <p>{startDate} &mdash; {endDate}</p>
                <p><i>{camp.frontmatter.theme}</i></p>
                <p>{camp.frontmatter.presenter}</p>
            )
        }
    })}
</Layout>
