---
import Layout from '../layouts/LayoutAstro.astro'

import { getCollection } from 'astro:content';
const camps = await getCollection('camps');

interface Camp {
    id: string,
    data: {
        id: string,
        name: string,
        presenter: string,
        presenterUrl: string,
        theme: string,
        start: Date,
        end: Date,
        layout: string,
    },
    body: string,
    file: string,
    filePath: string,
    digest: string,
};

function compare( a: Camp, b: Camp ) {
    const aEnd = new Date(a.data.end).getTime();
    const bEnd = new Date(b.data.end).getTime();
    return (aEnd > bEnd) ? 1 : -1;
}

const campsSorted = Object.values(camps).sort(compare); 
const today = new Date();
---

<Layout title="Upcoming Camps">
    <h1>Upcoming Camps</h1>

    {campsSorted.map((camp: Camp) => {
        const end = new Date(camp.data.end);
        if (end >= today) {
            const startDate = new Date(camp.data.start).toDateString();
            const endDate = end.toDateString();

            const presenter = camp.data.presenterUrl 
                            ? <a href={camp.data.presenterUrl} target="other"><b>{camp.data.presenter}</b></a>
                            : <b>{camp.data.presenter}</b>

            return (
                <h2><a href={`${camp.url}`}>{camp.data.name}</a></h2>
                <p>{startDate} &mdash; {endDate}</p>
                <p><i>{camp.data.theme}</i></p>
                <p>{presenter}</p>
            )
        }
    })}
</Layout>
