---
import Layout from '../layouts/LayoutAstro.astro'

interface Camp {
    frontmatter: {
        id: string,
        name: string,
        presenter: string,
        theme: string,
        start: Date,
        end: Date
    },
    url: string,
    file: string,
};

const matches = import.meta.glob('/src/pages/camps/*.mdx', { eager: true });
const camps = Object.values(matches);
const today = new Date();
---

<Layout title="Past Camps">
    <h1>Past Camps</h1>

    {camps.map((camp: Camp) => {
        const end = new Date(camp.frontmatter.end);
        console.log(camp.frontmatter.id);
        console.log(end);
        console.log(today);
        console.log(end < today);
        if (end < today) {
            const startDate = new Date(camp.frontmatter.start).toDateString();
            const endDate = end.toDateString();;
            return (
                <h2><a href={`${camp.url}`}>{camp.frontmatter.name}</a></h2>
                <p>{startDate} &mdash; {endDate}</p>
                <p><i>{camp.frontmatter.theme}</i></p>
                <p>{camp.frontmatter.presenter}</p>
            )
        }
    })}
</Layout>
