---
import Workshop from '@components/Workshop.astro';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const { camp, year } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;

const startDate = new Date(camp.data.start).toDateString();
const endDate = camp.data.end.toDateString();
const presenter = camp.data.presenterUrl
                ? '<a href=' + camp.data.presenterUrl + ' target="other"><b>' + camp.data.presenter + '</b></a>'
                : '<b>' + camp.data.presenter + '</b>'
const url = baseUrl + "/camps/" + camp.id;
const campName = camp.data.name + ' Eliot ' + year;
const img = {
    src: camp.data.photo,
    alt: camp.data.presenter,
    width: camp.data.width ? camp.data.width : 300,
};

const workshopsAll = await getCollection('workshops');
const isCAE = camp.data.name === 'Creative Arts';

function filterByYear(w) {
    return parseInt(year) === w.data.year;
}
const workshops = isCAE ? Object.values(workshopsAll).filter(filterByYear) : [];
---

<h2><a href={url}>{campName}</a></h2>
<p>{startDate} &mdash; {endDate}</p>
<p><i>{camp.data.theme}</i></p>
<p set:html={presenter}></p>
<Image src={img.src} alt={img.alt} width={img.width} />

<article set:html={camp.rendered.html}></article>

{ isCAE && <h3>Workshops</h3>}
{ isCAE && workshops.map((ws) => {
    return (
      <Workshop workshop={ws}>
      </Workshop>
    )})}
