---
import Layout from '@layouts/LayoutAstro.astro'

interface Camp {
    id: string,
    data: {
        id: string,
        name: string,
        presenter: string,
        presenterUrl: string,
        theme: string,
        start: Date,
        end: Date,
        layout: string,
    },
    body: string,
    file: string,
    filePath: string,
    digest: string,
};

const { title, camps } = Astro.props;

---

<Layout title={title}>
    <article>
        <h1>{title}</h1>

        {camps.map((camp: Camp) => {
            const startDate = new Date(camp.data.start).toDateString();
            const endDate = camp.data.end.toDateString();
            const presenter = camp.data.presenterUrl
                            ? <a href={camp.data.presenterUrl} target="other"><b>{camp.data.presenter}</b></a>
                            : <b>{camp.data.presenter}</b>

            return (
                <h2><a href={`/eliot/camps/${camp.id}`}>{camp.data.name}</a></h2>
                <p>{startDate} &mdash; {endDate}</p>
                <p><i>{camp.data.theme}</i></p>
                <p>{presenter}</p>
            )
        })}
    </article>
</Layout>
