---
import { getCollection } from 'astro:content';
const newsletters = await getCollection('newsletters');
const fileUrl = "https://s3.amazonaws.com/siteninja/multitenant/assets"

const camps = await getCollection('camps');
---
<h2>CAMPS</h2>
<nav>
  <ul>
    {camps.map((camp: {id: string; data: {id: string, name: string };}) => (
      <li class="menu-item"><a href={`/camps/${camp.data.id}.html`}>{camp.data.name}</a></li>
    ))}
  </ul>
</nav>  
<h2>NEWS</h2>
<nav>
  <ul>
    {newsletters.map((post: { id: string; data: { id: string, file: string, date: string; }; }) => (
      <li class="menu-item"><a href={`${fileUrl}/${post.data.file}`} target="other">{post.data.id}</a></li>
    ))}
  </ul>
</nav>
