---
import { getCollection } from 'astro:content';
const newsletters = await getCollection('newsletters');
const newsBaseUrl = "https://s3.amazonaws.com/siteninja/multitenant/assets/33945/files/original"

const camps = await getCollection('camps');
---
<nav class="nav sidebar">
  <h2>CAMPS</h2>
  <ul>
    {camps.map((camp: {id: string; data: {name: string };}) => (
      <li class="menu-item"><a href={`/camps/${camp.data.id}.html`}>{camp.data.name}</a></li>
    ))}
  </ul>

  <h2>NEWS</h2>
  {newsletters.map((post: { id: string; data: { date: string; }; }) => (
    <li class="menu-item"><a href={`${newsBaseUrl}/${post.data.file}`} target="news">{post.data.id}</a></li>
  ))}
</nav>
