---
import { getCollection } from 'astro:content';
const newsletters = await getCollection('newsletters');
const fileUrl = "https://s3.amazonaws.com/siteninja/multitenant/assets"

const now = new Date();

const campsAll = await getCollection('camps');

interface Camp {
    id: string,
    data: {
        name: string,
        presenter: string,
        presenterUrl: string,
        theme: string,
        start: Date,
        end: Date,
        layout: string,
    },
    body: string,
    file: string,
    filePath: string,
    digest: string,
};

function compare( a: Camp, b: Camp ) {
    const aEnd = new Date(a.data.end).getTime();
    const bEnd = new Date(b.data.end).getTime();
    return (aEnd > bEnd) ? 1 : -1;
}

function filter( c: Camp) {
    return c.data.end >= now;
}

const camps = Object.values(campsAll).filter(filter).sort(compare); 

---
<button class="outline">Register for Camp</button>
<hr>
<button class="outline secondary">Donate to Eliot</button>
<hr>
<h2><a href="/eliot/camps/upcoming">CAMPS</a></h2>
<nav>
  <ul>
    {camps.map((camp: Camp) => {
        const url = "/eliot/camps/" + camp.id;
        return (
          <li><a href={url}}>{camp.data.name}</a></li>
        )
    })}
    <li><a href="/eliot/camps/past">...Past Camps</a></li>
  </ul>
</nav>
<hr>
<h2>NEWS</h2>
<nav>
  <ul>
    {newsletters.map((post: NewsLetter) => (
      <li><a href={`${fileUrl}/${post.data.file}`} target="other">{post.data.id}</a></li>
    ))}
  </ul>
</nav>
