---
import { getCollection } from 'astro:content';
const newsletters = await getCollection('newsletters');
const fileUrl = "https://s3.amazonaws.com/siteninja/multitenant/assets"

const today = new Date();

import { getCollection } from 'astro:content';
const camps = await getCollection('camps');

interface Camp {
    id: string,
    data: {
        id: string,
        name: string,
        presenter: string,
        presenterUrl: string,
        theme: string,
        start: Date,
        end: Date,
        layout: string,
    },
    body: string,
    file: string,
    filePath: string,
    digest: string,
};

function compare( a: Camp, b: Camp ) {
    const aEnd = new Date(a.data.end).getTime();
    const bEnd = new Date(b.data.end).getTime();
    return (aEnd > bEnd) ? 1 : -1;
}

const campsSorted = Object.values(camps).sort(compare); 
---
<h2><a href="/camps-future">CAMPS</a></h2>
<nav>
  <ul>
    {campsSorted.map((camp: Camp) => {
        const end = new Date(camp.data.end);
        if (end >= today) {
          const url = "/camps/" + camp.id;
          return (
            <li><a href={url}}>{camp.data.name}</a></li>
          )
        }
    })}
    <li><a href="/camps-past">...Past Camps</a></li>
  </ul>
</nav>
<hr>
<h2>NEWS</h2>
<nav>
  <ul>
    {newsletters.map((post: NewsLetter) => (
      <li><a href={`${fileUrl}/${post.data.file}`} target="other">{post.data.id}</a></li>
    ))}
  </ul>
</nav>
