---
import { getCollection } from 'astro:content';
const newsletters = await getCollection('newsletters');
const fileUrl = "https://s3.amazonaws.com/siteninja/multitenant/assets"

const today = new Date();

interface Camp {
    frontmatter: {
        id: string,
        name: string,
        presenter: string,
        theme: string,
        start: Date,
        end: Date
    },
    url: string,
    file: string,
};

function compare( a: Camp, b: Camp ) {
    const aEnd = new Date(a.frontmatter.end);
    const bEnd = new Date(b.frontmatter.end);
    if ( aEnd < bEnd ){
        return -1;
    }
    if ( aEnd > bEnd ){
        return 1;
    }
    return 0;
}

const matches = import.meta.glob('/src/pages/camps/*.mdx', { eager: true });
const camps = Object.values(matches).sort(compare); 
---
<h2><a href="/camps-future">CAMPS</a></h2>
<nav>
  <ul>
    {camps.map((camp: Camp) => {
        const end = new Date(camp.frontmatter.end);
        if (end >= today) {
        return (
          <li><a href={camp.url}}>{camp.frontmatter.name}</a></li>
        )
      }
    })}
    <li><a href="/camps-past">...Past Camps</a></li>
  </ul>
</nav>
<hr>
<h2>NEWS</h2>
<nav>
  <ul>
    {newsletters.map((post: NewsLetter) => (
      <li><a href={`${fileUrl}/${post.data.file}`} target="other">{post.data.id}</a></li>
    ))}
  </ul>
</nav>
