---
import { getCollection } from 'astro:content';
const newsletters = await getCollection('newsletters');
const fileUrl = "https://s3.amazonaws.com/siteninja/multitenant/assets"

const camps = await getCollection('camps');
const today = new Date();

interface Camp {
  id: string,
  data: {
    name: string,
    presenter: string,
    theme: string,
    start: Date,
    end: Date
  }
};

interface NewsLetter {
  id: string;
  data: {
    file: string,
    date: string;
  };
};
---
<h2><a href="/camps/camps.html">CAMPS</a></h2>
<nav>
  <ul>
    {camps.map((camp: Camp) => {
      if (camp.data.end >= today) {
        return (
          <li><a href={`/camps/${camp.id}.html`}>{camp.data.name}</a></li>
        )
      }
    })}
    <li><a href="/camps-past.html">...Past Camps</a></li>
  </ul>
</nav>
<hr>
<h2>NEWS</h2>
<nav>
  <ul>
    {newsletters.map((post: NewsLetter) => (
      <li><a href={`${fileUrl}/${post.data.file}`} target="other">{post.data.id}</a></li>
    ))}
  </ul>
</nav>
