---
import { getCollection } from 'astro:content';
const workshopsAll = await getCollection('workshops');

const { camp } = Astro.props;

import '../styles/eliot.css'

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Sidebar from '@components/Sidebar.astro';
import Workshop from '@components/Workshop.astro';

const start = new Date(camp.start);
const startDate = start.toDateString();
const endDate = new Date(camp.end).toDateString();
const year = start.getFullYear();

function filter(w) {
  return year === w.data.year;
}
const workshops = Object.values(workshopsAll).filter(filter);

const baseUrl = import.meta.env.BASE_URL;
const favicon = baseUrl + "/favicon.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />

    <title>{camp.name}</title>
  </head>

  <body>
    <Header />
    <main class="container">
      <div class="row">
        <div class="col-xs-3">
          <aside>
            <Sidebar />
          </aside>
        </div>
        <div class="col-xs">
          <article>
            <h1>{camp.name}</h1>
            <p>{startDate} &mdash; {endDate}</p>

            <h2><i>{camp.theme}</i></h2>

            <slot />

          </article>

          <h2>Workshops</h2>
          {workshops.map((ws) => {
            return (
              <Workshop workshop={ws}>
              </Workshop>
            )})}
  
        </div>
      </div>
    </main>
    <Footer />
  </body>

</html>
