---
import { getCollection } from 'astro:content';
const workshopsAll = await getCollection('workshops');

const { camp } = Astro.props;

import '../styles/eliot.css'
import BaseLayout from '@layouts/LayoutAstro.astro';

import Workshop from '@components/Workshop.astro';

const start = new Date(camp.start);
const startDate = start.toDateString();
const endDate = new Date(camp.end).toDateString();
const year = start.getFullYear();

function filter(w) {
  return year === w.data.year;
}
const workshops = Object.values(workshopsAll).filter(filter);

---

<BaseLayout title={camp.name}>

  <article>
    <h1>{camp.name}</h1>
    <p>{startDate} &mdash; {endDate}</p>

    <h2><i>{camp.theme}</i></h2>

    <slot />

  </article>

  <h2>Workshops</h2>
  {workshops.map((ws) => {
    return (
      <Workshop workshop={ws}>
      </Workshop>
    )})}

</BaseLayout>
