---
const { camp } = Astro.props;

import '@styles/eliot.css'
import Layout from '@layouts/LayoutBase.astro';

const startDate = new Date(camp.start).toDateString();
const endDate = new Date(camp.end).toDateString();

---
<Layout title={camp.name}>

  <article>
    <h1>{camp.name}</h1>
    <p>{startDate} &mdash; {endDate}</p>

    <h2><i>{camp.theme}</i> with {camp.presenter}</h2>

    <slot />

  </article>

</Layout>
