---
const { workshop } = Astro.props;

import '../styles/eliot.css'
import BaseLayout from '@layouts/LayoutAstro.astro';

const baseUrl = import.meta.env.BASE_URL;
const caePage = baseUrl + "/eliot/camps/" + workshop.year + "/eliot/cae";
const presenter = workshop.presenterUrl
                        ? ('<a href="' + workshop.presenterUrl + '" target="other"><b>' + workshop.presenter + '</b></a>')
                        : '<b>' + workshop.presenter + '</b>';

const favicon = baseUrl + "/favicon.svg";
---

<BaseLayout title={workshop.title}>

  <article>
    <h1>{workshop.title}</h1>
    <p set:html={presenter}></p>
    <p><a href={caePage}>Creative Arts Eliot {workshop.year}</a></p>

    <slot />

  </article>

</BaseLayout>
